.body {
  max-width: 500px;
  margin: auto;
}


.heading2 {
    color: rgb(16, 16, 131);
    font-size: 120%;
    font-weight:bold;
    text-align: center;
  

}

.heading3 {
  color: rgb(16, 16, 131);
  font-size: 100%;
  font-weight:bold;
  text-align: center;

}

.heading4 {
  color: rgb(16, 16, 131);
  font-size: 90%;
  font-weight:bold;
  text-align: center;

}

/* container */
.two-columns-grid {
  display: grid;
  grid-template-columns: 1.5fr 1.9fr;

}

/* columns */
.two-columns-grid > * {
  padding:1rem;
  margin: 6px 0px 20px 100px;
  color: rgb(16, 16, 131)

}

.notes {
  font-size: x-small;
  margin: 0px 0px 0px 20px;
}

.footer-text {
  color: rgb(16, 16, 131);
  font-size: 70%;
  text-align: center;

}

.footer-text2 {
  color: rgb(16, 16, 131);
  font-size: 90%;
}