.body {
  max-width: 500px;
  margin: auto;
}


.heading2 {
    color: rgb(16, 16, 131);
    font-size: 110%;
    font-weight:bold;
    text-align: center;
  

}

.heading3 {
  color: rgb(16, 16, 131);
  font-size: 95%;
  font-weight:bold;
  text-align: center;

}

.heading4 {
  color: rgb(16, 16, 131);
  font-size: 80%;
  font-weight:bold;
  text-align: center;

}

.heading5 {
  color: rgb(16, 16, 131);
  font-size: 40%;
  font-weight:bold;
  text-align: center;

}

.song-table {
    background-color: orange;
}